{% extends "base.html" %}
{% block content %}

<section>
  <h1>About Unhuman</h1>
  <img src="{{ url_for('static', filename='/assets/body_edit.jpg') }}" alt="Paintings by Unhuman above an altar" class='banner-img'/>
  <div class="spacer"></div>
  <h3>Unhuman is subversion.</h3>
  <p class="about-text">
    Unhuman is a project centered around the deconstruction of Self, and of identity. It demands discomfort, requiring that the viewer sit in
    that uncanny psychological place between human and not-quite. Inspired by the necessary deconstruction of an identity that was dangerous to
    the artist's survival, Unhuman explores the grief, discomfort, and difficulty in letting go, and burying a Self that no longer fits.
    Examining processes of moving forward, sacred change and finding peace in rebirth, it uses symbols from dreams, omens presented to the artist
    during the period of their regeneration.
  </p>
  <h3>About the Artist</h3>
  <p>
    Sid is a self-taught painter, sculptor and illustrator currently based in Oakland, California. Unhuman is the  culmination of themes
    that have been omnipresent throughout their life, a reflection of their dreams and experiences as they relate to the darker side of
    human psychology and sensation.
  </p>
  <p>Visit<a href="{{ url_for('contact_me') }}">contact</a>to send Sid a message, or to inquire about collaborations or commissioned work.</p>
</section>

{% endblock %}
