{% extends "base.html" %}

<!-- TODO: Have product image in Admin link to details modal. -->
{% block head %}
<script type="text/javascript" src="static/admin.js" defer></script>
{% endblock %}

{% block content %}
<section class="product-manager">
  <h2>Product Manager</h2>
  <div id="product-list">
    {% for product in products %}
    <div class="product-item">
      <!-- <a href="/paintings/{{ product.id }}"> -->
      <img src="{{ url_for('static', filename='assets/' + product.image) }}" alt={{ product.title }} class="admin-prod-image">
      <!-- </a> -->
      <p>{{ product.title }}</p>
      <p>${{ product.price }}</p>
      <p>{{ product.media }}</p>
      <p>{{ product.size }}</p>
      <button id="remove-button" onclick="window.location.href='admin-delete/{{ product.id }}'">Remove Product</button>
    </div>
    {% endfor %}
  </div>
  <button id="start-add-product">Add Product</button>
</section>

<div id="backdrop"></div>
<div class="modal">

  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset>
      <legend>Add New Product</legend>
      <div>
        {{ form.title.label }}
        {% if form.title.errors %}
          {{ form.title(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.title.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.title }}
        {% endif %}
      </div>
      <div>
        {{ form.price.label }}
        {% if form.price.errors %}
          {{ form.price(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.price.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.price }}
        {% endif %}
      </div>
      <div>
        {{ form.description.label }}
        {% if form.description.errors %}
          {{ form.description(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.description.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.description }}
        {% endif %}
      </div>
      <div>
        {{ form.media.label }}
        {% if form.media.errors %}
          {{ form.media(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.media.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.media }}
        {% endif %}
      </div>
      <div>
        {{ form.size.label }}
        {% if form.size.errors %}
          {{ form.size(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.size.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.size }}
        {% endif %}
      </div>
      <div>
        {{ form.image.label }}
        {{ form.image }}
        {% if form.image.errors %}
          {{ form.image(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.image.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </fieldset>
    <div>
      {{ form.submit }}
    </div>
  </form>

{% endblock %}
