<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />
  <script src="https://js.stripe.com/v3/"></script>
  {% if title %}
  <title>UNHUMAN - {{ title }}</title>
  {% else %}
  <title>UNHUMAN</title>
  {% endif %}
  {% block head %}{% endblock %}
</head>

<body>
  <header>
    <nav>
      <div class="left-nav">
        <a href="{{ url_for('main.homepage') }}">HOME</a>
        <a href="{{ url_for('main.shop_paintings') }}">ART</a>
        <a href="{{ url_for('main.about') }}">ABOUT</a>
        <a href="{{ url_for('main.contact_me') }}">CONTACT</a>
        <a href="{{ url_for('cart.user_cart') }}">CART</a>
      </div>
      <div class="right-nav">
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('users.user') }}">ACCOUNT</a>
        {% else %}
          <a href="{{ url_for('users.login') }}">LOG IN</a>
        {% endif %}
      </div>
    </nav>
  </header>
  <main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
  <div class="spacer"></div>
  <footer>
    <img src="{{ url_for('static', filename='assets/cemetary.jpg') }}" alt="Old cemetary with trees and statues." class="banner-img">
    Copyright © Sid Arcidiacono 2020
  </footer>
</body>

</html>
