<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />
  {% if title %}
    <title>Unhuman - {{ title }}</title>
  {% else %}
    <title>Unhuman</title>
  {% endif %}
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('homepage') }}">Home</a></li>
        <li><a href="{{ url_for('shop_paintings') }}">Art</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact_me') }}">Contact</a></li>
        <li class="user-icon">
            <a href="{{ url_for('user') }}">Account</a>
        </li>
        <li><a href="{{ url_for('admin') }}">Admin</a></li>
        <li><a href="{{ url_for('user_cart') }}">Cart</a><li>
      </ul>
    </nav>
  </header>
  <main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
  <footer>Copyright © Sid Arcidiacono 2020</footer>
</body>
</html>
