<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="static/styles.css" />
  {% if title %}
    <title>Unhuman - {{ title }}</title>
  {% else %}
    <title>Unhuman</title>
  {% endif %}
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/work">Art</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="user-icon">
            <a href="{{ url_for('user') }}">Account</a>
        </li>
        <li><a href="{{ url_for('admin') }}">Admin</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
  <footer>Copyright © Sid 2020</footer>
</body>
</html>
