{% extends "base.html" %}

{% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="static/checkout.js" defer></script>
{% endblock %}

{% block content %}

<div>
  <h1>{{ current_user.name }}'s Cart</h1>
  {% for product in products %}
    <img class="cart-img" src="{{ url_for('static', filename='assets/' + product.image) }}" alt={{ product.title }}/>
    <h3>{{ product.title }}</h3>
    <p>${{ product.price }}</p>
    <p>{{ quantity }}
  {% endfor %}
  <button id="checkout-button">Checkout</button>
</div>

{% endblock %}
