{% extends "base.html" %}

{% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="static/checkout.js" defer></script>
{% endblock %}

{% block content %}

<div class="flex-container">
  {% if products %}
    <h1>{{ current_user.name }}'s Cart</h1>
    {% for product in products %}
      <div class="flex-row">
        <img class="cart-img" src="{{ url_for('static', filename='assets/' + product.image) }}" alt={{ product.title }}/>

        <h3>{{ product.title }}</h3><p>${{ product.price }}</p>
        <p>Quantity: {{ product.quant_in_cart }}</p>
        <form method="POST" action="/cart/remove-item/{{product.id}}">
          {{ form.hidden_tag() }}
          {{ form.submit }}
        </form>
      </div>
    {% endfor %}

    <p>Total items: {{ quantity }}</p>
    <p>Subtotal: ${{ subtotal }}0</p>

    <button id="remove-all-items">Clear Cart</button>
    <button id="checkout-button">Checkout</button>

  {% else %}
    <h3>Your cart is empty.</h3>
  {% endif %}

</div>

{% endblock %}
