{% extends "base.html" %}
{% block content %}

<section>
  <h1 class="alien-font">Unhuman</h1>
  <h1>UNHUMAN</h1>
  <img class="banner-img" src="{{ url_for('static', filename='assets/altar.jpg') }}" alt="Altar with bones, tarot cards and sigil.">
  <div class="spacer"></div>
  <h2>Unhuman is Subversion</h2>
  <h3>Sid Arcidiacono</h3>
  <p>Leave your preconceptions here.</p>
  <p>Welcome to Unhuman, an exploration of the stripping away of Self, of sacred symbols, and of deconstruction.</p>
  <div class="spacer"></div>
  <div class="flex-container">
    <div class="flex-row">
      <div class="blur-text">
        <h2>About</h2>
        <a href="{{ url_for('about') }}"><img src="{{ url_for('static', filename='assets/sid_blue.jpg') }}"/></a>
      </div>
      <div class="blur-text">
        <h2>Contact</h2>
        <a href="{{ url_for('contact_me')}}"><img src="{{ url_for('static', filename='assets/skylight.jpg') }}"/></a>
      </div>
      <div class="blur-text">
        <h2>See Artwork</h2>
        <a href="{{ url_for('shop_paintings') }}"><img src="{{ url_for('static', filename='assets/blue.jpg' )}}"/></a>
    </div>
    </div>
  </div>
</section>

{% endblock %}
