{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="static/editUser.js" defer></script>
{% endblock %}

{% block content %}

<section class="flex-container">

  <img src="{{ url_for('static', filename='avatars/' + current_user.avatar) }}"
       alt="{{ current_user.name }}" class="avatar-img">

  <h2>{{ current_user.name }}</h2>
  <h3>{{ current_user.username }}</h3>
  <p>{{ current_user.email }}</p>

  <button id="edit-user">Edit Profile</button>

  <form method="POST" enctype="multipart/form-data" class='invisible'>
    {{ form.hidden_tag() }}
    <fieldset>
      <legend>Edit Profile</legend>
        {{ form.username.label }}
        {% if form.username.errors %}
          {{ form.username(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.username }}
        {% endif %}
        {{ form.name.label }}
        {% if form.name.errors %}
          {{ form.name(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.name.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.name }}
        {% endif %}
        {{ form.email.label }}
        {% if form.email.errors %}
          {{ form.email(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% else %}
          {{ form.email }}
        {% endif %}
        {{ form.avatar.label }}
        {{ form.avatar }}
        {% if form.avatar.errors %}
          {{ form.avatar(class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.avatar.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
    </fieldset>
    {{ form.submit }}
    <button id="edit-user-cancel">Cancel</button>
  </form>
  <button id="log-out">Log Out</button>
</section>
{% endblock %}
