{% extends 'base.html' %}

{% block content %}
<section>

  <h1>Art</h1>

  <div class="gallery">
    {% for product in products %}
      <div class="gallery-item">
        <img src="{{ url_for('static', filename='assets/' + product.image) }}" /> </br>
        <p>{{ product.title }}</p>
        <p>{{ product.price }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.media }}</p>
        <p>{{ product.size }}</p>
        <div>
          <form method="POST" action="/cart/{{product.id}}">
            {{ form.hidden_tag() }}
            {{ form.submit }}
          </form>
        </div>
      </div>
    {% endfor %}
  </div>

</section>

{% endblock %}
