{% extends 'base.html' %}

{% block content %}
<section>

  <h1>Art</h1>

  <div class="gallery">
    {% for product in products %}
      <div class="gallery-item">
        <img src="{{ url_for('static', filename='assets/' + product.image) }}" /> </br>
        {% if product.quantity > 0 %}
          <p>{{ product.title }}</p>
        {% else %}
          <p>{{ product.title }} - SOLD</p>
        {% endif %}
        <p>{{ product.description }}</p>
        {% if product.quantity > 0 %}
          <p>{{ product.price }}</p>
          <p>{{ product.media }}</p>
          <p>{{ product.size }}</p>
          <div>
            <form method="POST" action="/cart/{{product.id}}">
              {{ form.hidden_tag() }}
              {% if product.quantity > 1 %}
                <div>
                  {{ form.quantity.label }}
                  {% if form.quantity.errors %}
                    {{ form.quantity(class="is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.quantity.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                    {% else %}
                      {{ form.quantity }}
                    {% endif %}
                  </div>
                  {% endif %}
              {{ form.submit }}
            </form>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

</section>

{% endblock %}
