{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="static/work.js" defer></script>
{% endblock %}


{% block content %}
<section>

  <h1>Art</h1>

  <div class="gallery">
    {% for product in products %}
      <div class="gallery-item">
        <img src="{{ url_for('static', filename='assets/' + product.image) }}" /> </br>
        <p>{{ product.title }}</p>
        <p>{{ product.price }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.media }}</p>
        <p>{{ product.size }}</p>
        <button>Add to Cart</button>
      </div>
    {% endfor %}
  </div>

</section>

{% endblock %}
