@font-face {
  font-family: "SawarabiGothic";
  src: url('./assets/fonts/sawarabigothic-regular.otf');
  src: url('./assets/fonts/sawarabigothic-regular.woff');
  src: url('./assets/fonts/sawarabigothic-regular.ttf');
}

@font-face {
  font-family: "Alien";
  src: url('./assets/fonts/alien.otf');
  src: url('./assets/fonts/alien.woff');
  src: url('./assets/fonts/alien.ttf');
}

* {
  padding: 0;
  border: none;
  font-family: "SawarabiGothic";
  box-sizing: border-box;
  color: #fff
}

a {
  color: #fff;
  padding: 10px;
}

a:hover {
  color: #E31919;
}

nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}


nav a {
  text-decoration: none;
  color: #fff;
  font-family: "Alien";
}

nav a:hover {
  color: #E31919;
  font-family: "SawarabiGothic";
}

body {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #000;
}

header {
  height: 100px;
  width: 100%;
  margin: 15px;
}

h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

h3 {
  text-align: center;
  color: #fff;
  margin: 15px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 75vw;
  height: auto;
}

p {
  color: #fff;
  text-align: center;
  margin: 10px;
}

label {
  color: #fff;
}

form {
  width: 400px;
  background-color: #000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

fieldset div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  background-color: rgb(112, 112, 112);
  color: #fff;
  width: 100%;
  margin: 15px;
  resize: vertical;
  padding: 15px;
}

input {
  width: 100%;
}

input, button {
  background-color: rgb(112, 112, 112);
  color: #fff;
  padding: 15px;
  font-size: 14px;
  margin: 15px;
}

input[type=checkbox] {
  width: 20px;
}

input[type=submit] {
  margin: 0;
  width: 30%;
}

input[type=submit], button {
  cursor: pointer;
}

input[type=submit]:hover, button:hover {
  background-color: #E31919;
}

select {
  width: 100px;
  background-color: #000;
  color: #fff;
}

small {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  color: #fff;
  margin-top: auto;
  bottom: 0;
  height: 200px;
  font-family: "SawarabiGothic";
  text-align: center;
}

footer img {
  -webkit-mask-image:-webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.alien-font {
  font-family: "Alien";
}

.avatar {
  width: 25vw;
  height: auto;
  border-radius: 50%;
}

.avatar-img {
  width: 125px;
  height: auto;
  border-radius: 50%;
}

.banner-img {
  width: 100vw;
  height: auto;
}

.portrait-img {
  width: 25vw;
  height: auto;
  align-self: flex-start;
}

.cart-img {
  width: 175px;
  height: auto;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.wrap-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.small-div {
  position: relative;
  margin: 215px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gallery-item img {
  width: 25vw;
  height: auto;
  margin: 15px;
}

.admin-prod-image {
  width: 250px;
  height: auto;
  margin: 35px;
}

.product-manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-form {
  width: 450px;
  height: 700px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal {
  z-index: 5;
  border-radius: 10px;
  top: 30vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal-image {
  width: 45vw;
  height: auto;
  margin-right: 25px;
}

.modal .modal__actions {
  display: flex;
}

.modal__actions {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal__actions button, .modal__actions input[type=submit] {
  width: 49%;
}


.invisible {
  display: none;
}

.spacer {
  height: 100px;
}

.icon {
  max-width: 24px;
  max-height: 24px;
  color: #fff;
  cursor: pointer;
}

.icon-button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.blur-text h2{
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: .3s;
}

.blur-text:hover h2 {
  opacity: 1;
}

.blur-text img {
  transition: .3s;
  width: 33vw;
  height: auto;
  justify-content: space-between;
}

.blur-text img:hover {
  filter: blur(3px) brightness(60%);
}

#backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  z-index: 2;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#start-add-product {
  width: 30vw;
  margin: 35px;
}
