/* TODO: Find better font for store */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: Avenir;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: column;
  background: url('assets/teeth_altar.jpeg') center center no-repeat,
  rgb(0, 0, 0);
  background-size: contain;
}

h1 {
  font-size: 4rem;
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

nav {
  width: 800px;
}

nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  font-size: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  color: #aaa;
}

p {
  color: rgb(255, 255, 255)
}

label {
  color: rgb(255, 255, 255);
}

form {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #000;
  padding: 1rem;
}

input, button {
  background-color: rgb(112, 112, 112);
  color: #fff;
  padding: 15px;
  font-size: 14px;
}

input {
  width: 100%;
}

input[type=submit], button {
  cursor: pointer;
}

.contact-redirect {
  background: url('assets/lucifer.jpeg') center center no-repeat,
  rgb(0, 0, 0);
}

.paintings-gallery {
  align-items: center;
  justify-items: center;
}

#teeth_painting {
  width: 100%;
  max-width: 30vw;
  margin: 5px;
  overflow: scroll;
}

#re-degeneration {
  width: 100%;
  max-width: 30vw;
  margin: 5px;
  overflow: scroll;
}

#pain {
  width: 100%;
  max-width: 30vw;
  margin: 5px;
  overflow: scroll;
}

#Paintings_o {
  left: 409px;
  top: 275px;
  position: absolute;
  overflow: visible;
  width: 131px;
  white-space: nowrap;
  text-align: left;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: rgba(112,112,112,1);
}

#paintings-header {
  left: 730px;
  top: 149px;
  position: flex-start;
  margin: auto;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  color: rgba(255, 255, 255, 1);
}
