/* TODO: Find better font for store, fix large screen issue w images */

* {
  padding: 0;
  border: none;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}

h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

header {
  height: 100px;
  margin: 15px;
}

footer {
  color: #fff;
  margin-top: auto;
}

img {
  width: 75vw;
  margin-bottom: 10vw;
}

nav {
  width: 800px;
  height: 50px;
}

nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

nav ul li {
  font-size: 1rem;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  color: #aaa;
}

p {
  color: rgb(255, 255, 255)
}

label {
  color: rgb(255, 255, 255);
}

form {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #000;
  padding: 1rem;
}

input, button {
  background-color: rgb(112, 112, 112);
  color: #fff;
  padding: 15px;
  font-size: 14px;
}

input {
  width: 100%;
}

input[type=submit], button {
  cursor: pointer;
  box-shadow: 4px 4px 2px rgb(0, 0, 0);
}

input[type=submit]:hover, button:hover {
  background-color: rgb(87, 10, 10);
}

.product-form {
  width: 450px;
  height: 700px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gallery-item {
  width: 240px
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gallery-item img {
  width: 30vw;
}

.modal {
  z-index: 100;
  background: white;
  border-radius: 10px;
  top: 30vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .modal__actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  z-index: -1;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}
