{% extends "base.html" %}
{% block content %}

{% block head %}
<script type="text/javascript" src="static/contact.js" defer></script>
{% endblock %}

<body class="teeth">


  <h2>Product Manager</h2>

  <main>
    <section id="entry-text" class="card">
      <p>No Products Yet</p>
    </section>
    <ul id="product-list"></ul>
  </main>

  <button id="start-add-product">Add Product</button>

  <div id="backdrop"></div>
    <div class="modal">
      <form action="/product_confirmation" method="POST" class="product-form">
        <label>Title</label> </br>
        <input type="text" name="title" id="title"></br>
        <label for="price">Price</label></br>
        <input type="text" name="price" id="price"></br>
        <label for="description">Description</label></br>
        <input type="text" name="description" id="description"></br>
        <label for="media">Media</label></br>
        <input type="text" name="media" id="media"></br>
        <label for="size">Size (inches)</label></br>
        <input type="text" name="size" id="size"></br>
        <div class="modal-actions">
          <input type="submit" name="product-submit" id="product-submit" value="Add">
          <button id="cancel-product">Cancel</button>
        </div>
      </div>


    <div class="spacer"></div>

    <button id="homeButton">Come Back To Us</button>

</body>

{% endblock %}
