<!DOCTYPE html>
<html>
    <head>
        <title>Unhuman</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    </head>
    <body class="flex-container">

        <div id="Web_1920__1">
        	<img id="teeth_altar_img" src="./static/assets/teeth_altar.jpeg"/>
        </div>
        	<div id="Welcome_to_Unhuman">
        		<h1 id="welcome-header">Contact the Creator</h1>
        	</div>
          <div>
            <form action="/contact_redirect" method="POST">
              <label for="name">Your Name:</label> </br>
              <input type="text" name="name"> </br>
              <label for="email">Email:</label> </br>
              <input type="email" name="email"> </br>
              <label for="message">Message</label> </br>
              <input type="text" name="message"> </br>
            </form>
          </div>
    </body>
</html>
