{% extends 'base.html' %}
{% block content %}

<section>

  <h1>Paintings</h1>

  <div class="gallery">
    {% for painting in paintings %}
      <div class="gallery-item">
        <img src="../{{ painting.image }}" /> </br>
        <p>{{ painting.title }}</p> </br>
        <p>{{ painting.price }}</p> </br>
        <p>{{ painting.description }}</p> </br>
        <p>{{ painting.media }}</p> </br>
        <p>{{ painting.size }}</p> </br>
      </div>
    {% endfor %}
  </div>

</section>

{% endblock %}
