{% extends "base.html" %}
{% block content %}

<h1>Log In</h1>

{% if message %}
  <p>{{ message }}</p>
{% endif %}

<form method="POST">
  <label for="name">Your Name</label>
  <input type="text" name="name">
  <label for="email">Email</label>
  <input type="email" name="email">
  <label for="password">Password</label>
  <input type="password" name="password">
  <label for="password-conf">Confirm Password</label>
  <input type="password" name="password-conf">
  <input type="submit" name="submit" value="Submit">
</form>

{% endblock %}
