{% extends "base.html" %}

<!-- IMPLEMENT WTFORMS TEMPLATING IN THIS ROUTE -->

{% block head %}
<script type="text/javascript" src="static/user.js" defer></script>
<script type="text/javascript" src="static/logout.js" defer></script>
{% endblock %}

{% block content %}

{% if current_user.is_anonymous %}
  <div class="sign-up invisible">
    <h1>Sign Up</h1>

    {% if message %}
      <p>{{ message }}</p>
    {% endif %}

    <form method="POST">
      <label for="name">Your Name</label>
      <input type="text" name="name">
      <label for="email">Email</label>
      <input type="email" name="email">
      <label for="password">Password</label>
      <input type="password" name="password">
      <label for="password-conf">Confirm Password</label>
      <input type="password" name="password-conf">
      <input type="submit" name="submit" value="Sign Up!">
    </form>

    <p class="under-form-text">Already have an account? <a id="sign-up-switch" class="switch-link">Log In</a></p>

  </div>

  <div class="log-in">

    <h1>Log In</h1>
    {% if message %}
      <p>{{ message }}
    {% endif %}
    <form method="POST">
      <label for="email">Email</label>
      <input type="email" name="email">
      <label for="password">Password</label>
      <input type="password" name="password">
      <input type="submit" name="submit" value="Log In">
    </form>

      <p class="under-form-text">Don't have an account? <a id="log-in-switch" class="switch-link">Sign Up</a></p>
  </div>
{% else %}

    <h2>{{ current_user.name }}</h2>

    <img src="../static/assets/lucifer.jpeg" alt="default image" class="avatar">
    <p class="user_bio">Default bio text</p>
    <button>Edit Profile</button>
    <button>Log Out</button>


{% endif %}


{% endblock %}
